*{
    margin: 0;
    box-sizing: border-box;
}
header{
    padding: 1%;
    background-color: #34baeb;
    color: #F0F0DB;
}
#container{
    background-color: #F0F0DB;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}
#nav-main{
    width: 100%;
    display: flex;
    flex-direction: row;
}
nav{
    background-color: #E1D9BC;
    width: 50%;
    display: flex;
    flex-direction: row;
}
main{
    width: 70%;
    height:100vh;
    text-align: center;
    font-size: calc(2px + 2vw);
}
main *{
    margin: 2% 0;
}
nav ul{
    padding-left: 0;
    list-style: none;
}
nav li{
    border: 5px solid #acbac4;
    width: 80%;
    margin: 5% auto;
    padding: 1%;
    text-align: center;
}
nav a{
    text-decoration: none;
    font-size: calc(2px + 1.3vw);
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}